# Database Variables
POSTGRES_DB=novarian_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=securepassword123
DB_HOST=db  # if using docker use this one (name of database service in docker compose)
# DB_HOST=localhost  # if running locally use this
DB_PORT=5432

# Django Variables
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY=generated-password-using-above-command
DEBUG=True/False
REDIS_USERNAME=Username
REDIS_PASSWORD=securepassword234

# https://console.cloud.google.com/auth/clients
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=client-ID-with-random-charecters.apps.googleusercontent.com
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=client-secret-key

# Re-CAPTCHA
RECAPTCHA_PUBLIC_KEY_V2=recaptcha-v2-public-key
RECAPTCHA_PRIVATE_KEY_V2=recaptcha-v2-private-key
RECAPTCHA_PUBLIC_KEY_V3=recaptcha-v3-public-key
RECAPTCHA_PRIVATE_KEY_V3=recaptcha-v3-private-key